@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif !important; 
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.scrollbar-hide {
    -ms-overflow-style: none;
}


.scrollbar-hide {
    scrollbar-width: none;
}